<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Kalender</ion-title>
    <ion-buttons slot="end">
      <ion-button href="home">Pete Thais</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="events">
    <ion-item href="events/show/{{ event.id }}" *ngFor="let event of events.body.data">
      <ion-label>{{ event.title }}</ion-label>
      {{ event.description }}
    </ion-item>
  </ion-list>

  <span *ngIf="!events">
    Loading...
  </span>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button href="events/create">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>
